.card-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 12rem;
  gap: 5px;
  padding: 10px;
  border-radius: 7px;
  background: #fafafa;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 { 
      margin: 0; 
      font-size: 1.1rem; 
    }
    button { 
      all: unset;
      cursor: pointer;
    }
  }
}
