.item-form-modal {

  h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }

  label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #555;
    display: block;
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  hr {
    color: #ddd;

  }

  .materials-list {
    max-height: 250px;
    overflow-y: auto;
    gap: 8px;
  }

  .row {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;

    input[type="number"] {
      width: 3rem;
      text-align: center;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .btn-delete {
      background: #ffe8e8;
      color: #dc2626;
      display: grid;
      place-items: center;
    }
  }

  button {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &.btn-add {
      background: #f2f4f8;
      color: #444;
      width: 50%;
      align-self: center;
      border: 1px dashed #ccc;
    }

    &.btn-save {
      background: #2563eb;
      color: white;
    }

    &.btn-cancel {
      background: #f2f4f8;
      border: 1px solid #ccc;
      color: #777;
    }
  }
}