.product-content {
  background: var(--container);
  color: var(--font-dark);
  height: 35rem;
  width: 100%;
  padding: 20px;
  border: 2px solid var(--font-grey);
  border-radius: var(--border-radius);
}