.product-content {
  background: var(--container);
  color: var(--font-dark);
  height: 80dvh;
  width: 100%;
  padding: 20px;
  border-radius: var(--border-radius);

  .btn-add {
    color: #2563eb;
    font-weight: 500;
  }
}