:root{
  --background: #747fbb;
  --container: #e4e4f0c0;
  --font: #333;


  --input: #fafafa;
  --form: #fafafa;

  --second-700: #324E86;
  --second-600: #4F72B5;
  --second-300: #C2CBDB;

  --green-600: #4FB572;
  --green-500: #76BF8F;
  --green-400: #9ECCAC;

  --red-600: #B54F4F;
  --red-500: #BF7676;
  --red-400: #CC9E9E;

  --second-700-a: #324E8680;
  --second-500-a: #768FBF80;
  --second-300-a: #C2CBDB80;

  --font-dark: #26324b;
  --font-grey: #8594B1;
  --font-light: #E1E6EF;
}