@import "./colors.css";
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  width: 100%;

  color-scheme: light dark;
  background: var(--background);
  color: #e9e9f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --box-shadow: -2px -2px 6px #ffffffa0, 2px 2px 6px #00000050;
  overflow: hidden;
}

a {
  font-weight: 700;
  color: var(--branding-600);
  text-decoration: inherit;
  transition: 100ms linear
}
a:hover {
  color: var(--branding-700);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

label, p {
  font-size: 14px;
  line-height: 1.2;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 600;
}
h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

button {
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}