@import "./colors.css";
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: var(--background);
  color: #e9e9f4;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 15px;
  --box-shadow: 2px 2px 6px #00006060;
  overflow: hidden;
}

a {
  font-weight: 700;
  color: var(--branding-600);
  text-decoration: inherit;
  transition: 100ms linear
}
a:hover {
  color: var(--branding-700);
}

html {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

label, p {
  font-size: 14px;
  line-height: 1.2;
}

h1, h2, h3 {
  color: var(--font);
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

input {
  color: var(--font);
  outline: none;

  ::placeholder{
    color: var(--font);
  }
}

button {
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}