.aside-content {
  display: inline-flex;
  height: fit-content;
  background: var(--container);
  padding: 15px;
  color: var(--font);
  box-shadow: 2px 2px 6px #00006040;
  border-radius: var(--border-radius);

  button{
    display: flex;
    flex-direction: column;
    height: 120px;
    aspect-ratio: 4/3;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    gap: 5px;
    border-radius: var(--border-radius);
    transition: 200ms ease;

    &.active{
      box-shadow: var(--box-shadow);
      color: #0d2ace;
      transition: 200ms ease;
    }
    
    &{
      font-size: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .aside-content {
    flex-direction: row;
    height: max-content;

    button {
      height: 60px;
      aspect-ratio: 2/1;

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}