.aside-content {
  display: inline-flex;
  height: fit-content;
  background: var(--container);
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  button{
    display: flex;
    height: 120px;
    aspect-ratio: 4/3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font);
    gap: 5px;
    border: 1px solid var(--font-grey);
    border-radius: var(--border-radius);
    transition: 200ms ease;

    &.active{
      box-shadow: var(--box-shadow);
      color: #0d2ace;
      transition: 200ms ease;
    }
    
    &{
      font-size: 16px;
    }
  }
}