.product-content {
  background: var(--container);
  color: var(--font-dark);
  height: 90dvh;
  width: 100%;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}