.aside-content {
  display: inline-flex;
  height: fit-content;

  button{
    display: flex;
    height: 120px;
    aspect-ratio: 4/3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--font-grey);
    border-radius: var(--border-radius);
    
    label{
      font-size: 16px;
    }
  }
}