.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: #00000040;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
