.main-content {
  background: var(--container);
  color: var(--font-dark);
  height: 80dvh;
  width: 100%;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  overflow-y: auto;

  .btn-add {
    color: #2563eb;
    font-weight: 500;
  }
}