.table-container {
  display: flex;
  flex-direction: column;
  width: calc(50% - 8px);
  gap: 10px;

  table{
    width: 100%;
    background-color: #fafafa;
    border-radius: 5px;
    overflow: hidden;
    
    thead {
      tr{
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr;
        th{
          padding: 5px 5px;
          font-size: 16px;
          font-weight: 500;
          text-align: left;
          text-wrap: wrap;
        }
      }
    }
  
    tbody:nth-child(even) {
      min-height: 80px;
      tr{
        background: #efeff4;
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr;
        th{
          padding: 5px 5px;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          text-wrap: wrap;
        }

        &.empty {
          height: 80px;
          grid-template-columns: auto;
          place-items: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .table-container {
    width: 100%;
  }
}